@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply mx-3 px-1.5 text-darkText hover:text-draculaPink;
  }
  .inputField {
    @apply block
        w-full
        mt-1
        py-1
        px-2
        border-gray-300
        rounded-md
        shadow-sm
        focus:border-indigo-300
        focus:ring
        focus:ring-indigo-200;
  }
  .saveButton {
    @apply h-10
    px-5
    text-darkSecondary
    bg-draculaPurple
    rounded-lg
    transition-colors
    duration-150
    focus:shadow
    hover:bg-draculaGreen;
  }
}
